/.vscode
/test
/test.cu
learnCUDA/Chapter3/core.1756952
learnCUDA/Chapter3/add
learnCUDA/Chapter3/add1
learnCUDA/Chapter4/check1api
learnCUDA/Chapter4/check2api
learnCUDA/Chapter4/add
.gitignore
*.out
*.qdrep
*.sqlite
